<!DOCTYPE html>
<!-- saved from url=(0039)https://akashthoriya.github.io/chatbot/ -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <div class="chatbot-container">
        <div id="header">
            <h1>Chatbot</h1>
        </div>
        <div id="chatbot">
            <div id="conversation">
                <div class="chatbot-message">
                    <p class="chatbot-text">Hi! 👋 it's great to see you!</p>
                </div>
            </div>
            <form id="input-form">
                <message-container>
                    <input id="input-field" type="text" placeholder="Type your message here" fdprocessedid="2pdd7">
                    <button id="submit-button" type="submit" fdprocessedid="0nae3l">
                        <img class="send-icon" src="~/Images/send-message.png" />
                    </button>
                </message-container>

            </form>
        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="~/Content/chatbot.js"></script>
</body>
</html>